{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento Inteligente</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/assets/ícones/1x/favorite_outline.png' %}">
    <style>
        .card__titulo {
        font-size: 25px;
        }
        .card__descricao {
            font-size: 15px;
            margin-top: 0.8em;
        }
        .busca__input {
            text-decoration-color:antiquewhite;
        }

    </style>

</head>

<body>
    {% include 'monitoramento/partials/_menu.html' %}
    {% block content %}{% endblock %}
    {% include 'monitoramento/partials/_footer.html' %}
</body>

</html>