{% extends 'monitoramento/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(1).png' %}" alt="banner">
                    <h1 class="banner__titulo"> Sua saúde na palma da mão!</h1>
                </section>
                <section class="monitoramento">
                    <div class="cards">
                        <h1 class="banner__titulo">Monitore sua saúde:</h1>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' fotografia.id %}">
                                {% if fotografia.foto == "" or fotografia.foto == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/monitoramento/not-found.png' %}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                {% endif %}   
                                </a>
                                <div class="card__info">
                                    <p class="card__titulo">{{fotografia.categoria}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{fotografia.descricao}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="imagem__texto">
                                <p>fotografias não encontradas</p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}